<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class=" container-fluid">
        <a class="navbar-brand" href="/dashboard">
            <img src="/static/images/logo.png" alt="TARTIB.UZ" width="200">
        </a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-underline me-auto my-2 my-lg-0">
                <% if (currentUser.role==='admin' ) { %>
                    <li class="nav-item">
                        <a class="nav-link <%= page === 'users' ? 'active' : '' %>" href="/users/list">Users</a>
                    </li>
                    <% } %>
                        <li class="nav-item">
                            <a class="nav-link <%= page === 'guides' ? 'active' : '' %>" href="/guides/list">Guides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= page === 'todos' ? 'active' : '' %>" href="/todos/list">Todos</a>
                        </li>
            </ul>
            <form class="d-flex" action="/logout" method="post">
                <button class="btn btn-warning" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>