<h1 class="display-1">NOT FOUND PAGE</h1>
<img src="/static/images/not_found.png" class="card-img-top" alt="NOT FOUND">
<div class="card-body d-flex gap-4">
    <a href="/dashboard" class="card-link">Panel</a>
    <a href="/login" class="card-link">Login</a>
</div>