<main class="mb-2 form-signin w-100 m-auto">
    <form action="/login" method="post">
        <img class="mb-4" src="/static/images/logo.png" width="300">
        <h1 class="h3 mb-3 fw-normal"><b>Tizimga kirish</b></h1>
        <div class="mb-3">
            <label class="form-label"></label>
            <input type="username" class="form-control" placeholder="Username" name="username">
        </div>
        <div class="mb-3">
            <label class="form-label"></label>
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Enter</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017-2024 tartib.uz</p>
    </form>
</main>